<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <app-header (themeSwitch)="themeSwitch()" [theme]="currentTheme" (sidenavToggle)="sidenavswitch()"></app-header>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [opened]="isSidenavExpand ? true : false" [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <app-sidebar></app-sidebar>
    </mat-sidenav>

    <mat-sidenav-content>
      <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="90">
            <button mat-raised-button color="primary">Examplle Button</button>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
              laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
              voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
              cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p> 
              <strong fxHide.md [ngStyle.lg]="{'font-size.px': 25, color: 'red'}">This will hide on lg</strong>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias cumque veniam ratione. Quod, ducimus atque recusandae pariatur laborum quos sint laudantium asperiores magni corrupti modi expedita placeat ullam ad debitis!</p>
            
            <div>
              <h1>This is heading One</h1>
              <h2>This is heading two</h2>
              <h3>This is heading three</h3>
              <h4>This is heading four</h4>
              <h5>This is heading five</h5>
              <h6>This is heading size</h6>
              <p>This is heading two</p>
            </div>

            <div>
              <h1 class="mat-h1">This is heading One</h1>
              <h2 class="mat-h2">This is heading two</h2>
              <h3 class="mat-h3">This is heading three</h3>
              <h4 class="mat-h4">This is heading four</h4>
              <h5 class="mat-h5">This is heading five</h5>
              <h6 class="mat-h6">This is heading size</h6>
              <p>This is heading two</p>
            </div>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <app-footer></app-footer>
</div>